<style>
body{
    font-family: sans-serif;
}
table{
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 50%;
}
th,td,tr{
    text-align: center;
    border: 1px dotted;
}
tr:nth-child(even)
{
    background-color: #e8e8e8;
}
</style>